<h3>Create Student</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="booksaveform" #savestudent (ngSubmit)="saveBook(saveBook)">  
          <div class="form-group">  
              <label for="name">Book Name</label>  
              <input type="text" class="form-control"  formControlName="book_name" data-toggle="tooltip"   
                 data-placement="right" title="Enter Book Name" >  
              <div class="alert alert-danger" *ngIf = "(BookName.touched) && (BookName.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="BookName.errors.required">Book Name is Required</span>  
                    <span *ngIf = "BookName.errors.minlength">   
                        MinLength Error   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
            <label for="name">ID</label>  
            <input type="text" class="form-control"  formControlName="id" data-toggle="tooltip"   
               data-placement="right" title="Enter unique id" >  
        </div>  

          <div class="form-group">  
            <label for="name">Author Name</label>  
            <input type="text" class="form-control"  formControlName="author_name" data-toggle="tooltip"   
               data-placement="right" title="Enter Author Name" >  
            <div class="alert alert-danger" *ngIf = "(BookName.touched) && (AuthorkName.invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="BookName.errors.required">Author Name is Required</span>  
                  <span *ngIf = "BookName.errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>  
    
        <div class="form-group">  
            <label for="name">ISBN</label>  
            <input type="text" class="form-control"  formControlName="isbn" data-toggle="tooltip"   
               data-placement="right" title="Enter Author Name" >  
        </div>  
    
          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>Book Added SuccessFully!</h4>  
         <button (click)="addBookForm()" class='btn btn-primary'>Add More Books</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  